@import-normalize; /* bring in normalize.css styles */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(119, 119, 119, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Styles for resetting the top steps of elements */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* Class for resetting basic properties of lists (ul) */
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
/* Class for nulling basic properties of links */
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: color 250ms linear;
}

a:hover,
a:focus {
  color: #ffffff;
}
/* Properties for correct display of images*/
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Properties to discart italics for address */
address {
  font-style: normal;
}

/* For smooth page scrolling */
html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

@keyframes slideIcon {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes loading {
  0% {
    transform: rotate(0);
    opacity: 0.5;
  }
  50% {
    transform: rotate(180deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0.5;
  }
}

.Toastify__toast-theme--dark {
  background-color: #00000055;
  backdrop-filter: blur(10px);
}
